.table-root {
  /* TODO: not working*/
  /* width: 2500px !important; */
}

.left-col {
  width: 150px;
}

.day-name {
  font-size: x-small;
  /* font-style: italic; */
}

/* th {
  padding: 0px;
} */
